@tailwind base;
@tailwind components;
@tailwind utilities;


.home h1 {
  color: #fff;
  font-size: 3em;
}

input {
  padding: 5px;
  width: 300px !important;
  outline: 0;
}

.shorten-button {
  margin: 20px;
  width: 300px !important;
}

.output {
  color: #fff;
}

a {
  text-decoration: underline;
  color: blue;
}